﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @{
                        if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                            <li>@Html.ActionLink("Fornecedores", "Index", "Fornecedores")</li>
                            <li>@Html.ActionLink("Produtos", "Index", "Produtos")</li>
                            <li>@Html.ActionLink("Venda", "ProdutosVendidos", "Venda")</li>

                            if (User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("Admin Roles", "Index", "RolesAdmin")</li>
                            }

                            var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                            var claim = claimsIdentity.FindFirst(c => c.Type == "AdmUsers");

                            if (claim != null)
                            {
                                if (claim.Value == "True")
                                {
                                    <li>@Html.ActionLink("Admin Users", "Index", "UsersAdmin")</li>
                                }
                            }

                            claim = claimsIdentity.FindFirst(c => c.Type == "AdmClaims");
                            if (claim != null)
                            {
                                if (claim.Value == "True")
                                {
                                    <li>@Html.ActionLink("Admin Claims", "Index", "ClaimsAdmin")</li>
                                }
                            }
                        }

                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
