﻿@model ProjetoAutenticacaoMax.ViewModel.SendCodeViewModel
@{
    ViewBag.Title = "Enviar código de verificação";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8">
            Provedor de Two Factor Authentication:
            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
            @Html.HiddenFor(m => m.UserId)
            <input type="submit" value="Enviar" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
